.bigelow-rules-regular {
    font-family: "Bigelow Rules", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    background-image: url(../Images/background.png);
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242633;

    img {
        height: 80px;
        width: 215px;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 99%;
        background-color: black;

        a {
            color: white;
            font-size: 40px;
            font-family: "Bigelow Rules", serif;
            text-decoration: none;
        }

        a:visited {
            color: white;
        }
    }
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        border: 2px solid black;
        margin-bottom: 100px;

        #gauche {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 563px;
            height: 752px;
            background: linear-gradient(rgb(67, 60, 135, 1), rgb(67, 60, 135, 0));
            color: white;
            font-size: 20px;
            font-weight: 400;

            button {
                background-color: black;
                color: white;
                border: none;
                border-radius: 50%;
                width: 200px;
                height: 50px;
            }
        }
    }
}

footer {
    color: white;
    background-color: black;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 10px;

        #reseaux {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            border: 2px solid white;
            font-size: 22px;
            width: 80%;
            padding: 10px;
        }
    }
}